<div id="mainHeader">
  <div id="masthead">
    <div id="identity">
      <a class="noBorder" href="{{ base_path }}/"><img src="{{ base_path }}/images/logo.gif" alt="BioKIDS home" title="BioKIDS home" height="103" width="152"></a>
      <p>Kids' Inquiry of Diverse Species</p>           
    </div>
    <br class="hidden">
    <div id="headerSearch">
      <ul>
        <li><a href="{{ base_path }}/cybertracker">CyberTracker Tools</a></li>
        <li><a href="http://essentialscience.umich.edu/essentialscience/projects">ChangeThinking</a></li>
        <li><a href="http://animaldiversity.org/">Animal Diversity Web</a></li>
      </ul>
      <form action="{{ base_path }}/search/find/" method="post">
        <div id="searchBox">
          <input id="searchBoxQuery" name="text" value="" size="16" type="text">
          <input id="searchBoxSubmit" name="submit" value="Search" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="primaryNavContainer">
  <div id="primaryNav">
    <ul>
      <li id="selectedSection"><a class="left" href="{{ base_path }}/critters/">Critter Catalog</a></li>
      <li><a href="{{ base_path }}/guides/">Field Guides</a></li>
      <li><a href="{{ base_path }}/research/biokids/">Research</a></li>   
      <li><a href="{{ base_path }}/resources/">Resources</a></li>    
      <li><a href="{{ base_path }}/about/">About Us</a></li>
      <li><a href="{{ base_path }}/glossary/index/">Glossary</a></li>
      <li><a href="{{ base_path }}/help/">Help</a></li>
    </ul>
  </div>
</div>

<hr class="hidden">


